.left-arrow, .right-arrow {
    position: absolute;
    bottom: 10px;
    z-index: 600;
    height: 60px;
    width: 60px;
    display: block;
    background: #60d7a9;
    padding-top: 18px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.left-arrow{
    left: 20px;
}
.right-arrow{
    right: 20px;
}
.rel{
    position:relative;
}
.left-arrow a, .right-arrow a {
    color: white;
    font-size: 0.8rem;
}
#qr_code, .last-row{
    margin-bottom: 50px;
}
.height-100 {
    height: 100px;
}
.one-page-layout .site-main>section:nth-of-type(4) {
    background-color: #f0f0f0 !important;
}