body{
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.input-top-search{
    color: #9adbfe;
    border: 1px solid #9adbfe !important;
}
.input-top-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9adbfe;
}
.input-top-search::-moz-placeholder { /* Firefox 19+ */
  color: #9adbfe;
}
.input-top-search:-ms-input-placeholder { /* IE 10+ */
  color: #9adbfe;
}
.input-top-search:-moz-placeholder { /* Firefox 18- */
  color: #9adbfe;
}

.input-top-search:focus{
    color: white;
    border: 1px solid white !important;
}
.input-top-search:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.input-top-search:focus::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.input-top-search:focus:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.input-top-search:focus:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.dropdown-link{
    text-align: center;
}
