// Body
$body-bg: #f9f9fb;

// Typography
$font-family-sans-serif: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$font-size-h1:              floor(($font-size-base * 3.444)); // ~62px
$font-size-h2:              ceil(($font-size-base * 2.889)); // ~52px
$font-size-h3:              ceil(($font-size-base * 2.222)); // ~40px
$font-size-h4:              ceil(($font-size-base * 1.611)); // ~29px
$font-size-h5:              floor(($font-size-base * 1.556)); // ~28px
$font-size-h6:              ceil(($font-size-base * 1.333)); // ~24px

$font-size-large:           24px; // ~24px

$line-height-base:          1.72222; // 31/18
$line-height-computed:      floor(($font-size-base * $line-height-base)); // ~31px

$headings-font-family:      inherit;
$headings-font-weight:      400;
$headings-line-height:      1.2;
$headings-color:            inherit;

// Buttons
$btn-default-color: $text-color;

// Colors
$default-color:  #0288D1;

$turquoise:      #B3E5FC;
$green-sea:      #16a085;

$emerald:        #2ecc71;
$nephritis:      #27ae60;

$peter-river:    #3498db;
$belize-hole:    #2980b9;

$amethyst:       #9b59b6;
$wisteria:       #8e44ad;

$wet-asphalt:    #34495e;
$midnight-blue:  #2c3e50;

$sun-flower:     #f1c40f;
$orange:         #f39c12;

$carrot:         #e67e22;
$pumpkin:        #d35400;

$alizarin:       #e74c3c;
$pomegranate:    #c0392b;

$clouds:         #ecf0f1;
$silver:         #bdc3c7;

$concrete:       #95a5a6;
$asbestos:       #7f8c8d;

//== Components
//
//## Define common padding and border radius sizes and more.

//** Default font-size in components
$component-font-size-base:  ceil(($font-size-base * 0.833)); // ~15px

// Border-radius
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

// Wells
$well-bg:     $clouds;
$well-border: $clouds;

// Grays
$gray:       $concrete;
$gray-light: $silver;
$inverse:    white;

// Borders
$laravel-border-color:  darken($body-bg, 10%);
$list-group-border:     $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border:  $laravel-border-color;
$panel-inner-border:    $laravel-border-color;

// Brands
$brand-default:   $default-color;
$brand-primary:   $wet-asphalt;
$brand-secondary: $turquoise;
$brand-info:      $peter-river;
$brand-success:   $turquoise;
$brand-warning:   $sun-flower;
$brand-danger:    $alizarin;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                200 !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #f1f1f1 !default;
$btn-default-border:             darken($btn-default-bg, 5%) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 1%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 1%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 1%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 1%) !default;

$btn-link-disabled-color:        $gray-light;

// Inputs
$input-border:            #dce4ec;
$input-border-focus:      lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-box-shadow:        none !default;

// Legend
$legend-color: $text-color;

// Forms
$input-font-size-base:     $component-font-size-base;
$input-font-size-sm:       floor(($component-font-size-base * 0.867)); // ~13px
$input-font-size-lg:       ceil(($component-font-size-base * 1.133)); // ~17px
$input-font-size-hg:       floor(($component-font-size-base * 1.467)); // ~22px

$input-line-height-base:   1.467; // ~22px
$input-line-height-sm:     1.462; // ~19px
$input-line-height-lg:     1.235; // ~21px
$input-line-height-hg:     1.318; // ~29px

$input-icon-font-size:     ceil(($component-font-size-base * 1.067));  // ~16px
$input-icon-font-size-lg:  ceil(($component-font-size-base * 1.2));  // ~18px
$input-icon-font-size-hg:  ceil(($component-font-size-base * 1.333));  // ~20px

$input-bg:                 $inverse;
$input-bg-disabled:        mix($gray, white, 10%);

$input-height-sm:          35px;
$input-height-base:        41px;
$input-height-lg:          45px;
$input-height-hg:          53px;

$input-border-radius:      $border-radius-large;

// Panels
$panel-default-heading-bg: #fff;


//== Navbar
//
//##

// Basics of a navbar
$navbar-default-bg:          $brand-default;
$zindex-navbar:              1000;
$zindex-navbar-fixed:        1030;
$navbar-height:              60px;
$navbar-height-base:         53px;
$navbar-height-large:        76px;
$navbar-input-line-height:   1.4; // ~21px
$navbar-margin-bottom:       0;
$navbar-border-radius:       $border-radius-large;

// Navbar Toggle
$navbar-default-toggle-border-color: $brand-default;
$navbar-default-toggle-hover-bg:     $brand-default;
$navbar-default-toggle-icon-bar-bg:  #fff;

// Navbar links
$navbar-default-link-color:           #fff;
$navbar-default-link-hover-color:     $brand-secondary;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #fff;
$navbar-default-link-active-bg:       $turquoise;
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;

// Navbar nav carets
$navbar-default-caret-color:          $navbar-default-link-color;
$navbar-default-caret-hover-color:    $navbar-default-link-hover-color;
$navbar-default-caret-active-color:   $navbar-default-link-active-color;

// Navbar brand label
$navbar-default-brand-color:          $navbar-default-link-color;
$navbar-default-brand-hover-color:    $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg:       transparent;

// Navbar toggle
$navbar-default-toggle-color:         $navbar-default-link-color;
$navbar-default-toggle-hover-color:   $navbar-default-link-hover-color;

// Navbar form
$navbar-default-form-placeholder:     spin(tint($brand-primary, 60%), 2);
$navbar-default-form-border:          shade($navbar-default-bg, 3%);


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-divider:              darken($brand-primary, 3%);

// Reset inverted navbar basics
$navbar-inverse-color:                $inverse;
$navbar-inverse-bg:                   #fff;
$navbar-inverse-border:               darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:           $brand-default;
$navbar-inverse-link-hover-color:     $brand-secondary;
$navbar-inverse-link-hover-bg:        transparent;
$navbar-inverse-link-active-color:    $navbar-inverse-link-color;
$navbar-inverse-link-active-bg:       $brand-secondary;
$navbar-inverse-link-disabled-color:  #444;
$navbar-inverse-link-disabled-bg:     transparent;

// Navbar nav carets
$navbar-inverse-caret-color:          lighten(desaturate($brand-primary, 7%), 9%);
$navbar-inverse-caret-hover-color:    $navbar-inverse-link-hover-color;
$navbar-inverse-caret-active-color:   $navbar-inverse-link-active-color;

// Inverted navbar brand label
$navbar-inverse-brand-color:          $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:    $navbar-inverse-link-hover-color;
$navbar-inverse-brand-hover-bg:       transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-color:         $navbar-inverse-link-color;
$navbar-inverse-toggle-hover-color:   $navbar-inverse-link-hover-color;

// Navbar form
$navbar-inverse-form-bg:              darken($brand-primary, 6%);
$navbar-inverse-form-placeholder:     desaturate(lighten($brand-primary, 13%), 7%);
$navbar-inverse-form-icon:            desaturate(lighten($brand-primary, 13%), 6%);
$navbar-inverse-form-border:          $navbar-inverse-divider;

// Navbar dropdowns
$navbar-inverse-dropdown-bg:                $navbar-inverse-bg;
$navbar-inverse-dropdown-link-color:        mix($navbar-inverse-bg, $navbar-inverse-color, 15%);
$navbar-inverse-dropdown-link-hover-color:  $inverse;
$navbar-inverse-dropdown-link-hover-bg:     $brand-secondary;

//== Dropdowns
//
//## Dropdown menu container and contents.
$zindex-dropdown:                1000;
$dropdown-border-radius:         $border-radius-base;

//** Background for the dropdown menu.
$dropdown-bg:                    $brand-default;

//** Dropdown link text color.
$dropdown-link-color:            #fff;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $brand-secondary;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $inverse;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $brand-secondary;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light;

//** Divider color for between dropdown items.
$dropdown-divider-bg:            darken($brand-default, 5%);

//** Text color for headers within dropdown menus.
$dropdown-header-color:          fade($brand-default, 60%);

// Toggle
$rgb-black: "0,0,0" !default;
$mdb-label-color: unquote("rgba(#{$rgb-black}, 0.26)") !default;
$mdb-label-color-toggle-focus: unquote("rgba(#{$rgb-black}, .54)") !default;
$mdb-toggle-label-color: $mdb-label-color !default;

//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $clouds !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $clouds !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;

